<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- Sidebar -->
<ul th:id="sidebar";
    th:fragment="sidebar" style="
    /*background: -moz-linear-gradient(top, #E2E2E2 0%, #ECECEC 50%, #F6F6F6 100%);*/
    /*background: -webkit-linear-gradient(top, #E2E2E2 0%, #ECECEC 50%, #F6F6F6 100%);*/
    /*background: linear-gradient(to bottom, #E2E2E2 0%, #F6F6F6 100%);*/
    /*background: -moz-linear-gradient(top, #E2E2E2 0%, #ECECEC 50%, #F6F6F6 100%);*/
    /*background: -webkit-linear-gradient(top, #E2E2E2 0%, #ECECEC 50%, #F6F6F6 100%);*/
    /*background: linear-gradient(to bottom, #E2E2E2 0%, #ECECEC 50%, #F6F6F6 100%);*/
    background-color: rgb(237, 235, 233);
    border-radius: 5px;
    float: left;width: 14%;
    margin-left: 1%;
    padding-top: 0.5rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;">

    <!-- Sidebar - Brand -->
    <h6 style="text-align: center; color: #bebebe;">버전 내역</h6>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" style="margin-bottom: 1rem !important;">

<!--    시간-->
    <div th:each="mock : ${mockList}" style="margin-bottom:17px">
        <span style="font-size: 10px;">13:45분에 변경되었습니다.</span>
        <div class="card_" style="background-color: white;
        height: 70px; display: flex;
                align-items: center;
                 padding: 0.5rem;">
            <div class="_checkbox" style=" width: 20%;  display: flex;align-items: center;
                justify-content: center;">
<!--                background-color: wheat;-->
<!--                <input th:class = "version-checkbox" type = "checkbox" />-->
                <input th:class = "version-checkbox" type = "checkbox" th:value = "${mock.versionDto.versionId}" style=" width: 20px;
    height: 20px;"/>

            </div>
            <div class="file-name_" style=" display: flex; height: 100%;
                width: 70%;
                text-align: center;
                justify-content: center;
                align-items: center;
                padding: 0.15rem;"
                 th:version-url = "${'/version/' + kind + '?name=' + kind}" th:text="${mock.getVersionDto().getFileDto().getName()}">
<!--                <span>abc 폴더가 변경되었습니다.</span>-->
            </div>
        </div>
    </div>


    <!-- Side bar Version List -->
<!--    <div style="padding-left: 1rem;">-->
<!--        <li class="nav-item active" th:each="mock : ${mockList}" style="margin-bottom:1rem;">-->
<!--            <div style="display: inline-block; margin-right: 0.5rem;">-->
<!--                <div th:version-url = "${'/version/' + kind + '?name=' + kind}" th:text="${mock.getVersionDto().getFileDto().getName()}"></div>-->
<!--            </div>-->
<!--            <div style="display:inline-block">-->
<!--                <input th:class = "version-checkbox" type = "checkbox" th:value = "${mock.versionDto.versionId}"/>-->
<!--            </div>-->
<!--        </li>-->
<!--    </div>-->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">


</ul>
</html>
<script>
    window.onload = function() {
        console.log("href : " + window.location.href);
        console.log("pathname : " + window.location.pathname);
    }

    let count = 0;
    let kind = "[[${kind}]]";
    let checkedVersion =[];
    let nowPath = window.location.href;
    if (nowPath.charAt(nowPath.length - 1) == '#') { // 끝이 # 이 아닐 때도 짤라서
        nowPath = nowPath.substring(0, nowPath.length - 1);
    }

    $('[version-url]').click(function() { // Folder, File Version
        var url = $(this).attr('version-url');
        console.log(url);
        var newWindow = window.open("about:blank");
        newWindow.location.href = url;
        location.href = nowPath;
    });

    $('.version-checkbox').change(function() { // Folder, File Diff
        if ($(this).is(':checked')) {
            console.log("Checkbox is checked..");
            checkedVersion.push($(this).value);
            count++;
        } else {
            checkedVersion.pop();
            count--;
        }

        if(count == 2) {
            setTimeout(() => {
                if (confirm("비교하겠습니까?")) {
                    var newWindow = window.open("about:blank");
                    var url = "";
                    if (kind === "folder") {
                        url = "/version/folder/diff?name=폴더";
                    } else {
                        url = "/version/file/diff?name=파일";
                    }
                    newWindow.location.href = url;
                    location.href = nowPath;
                } else {
                    location.href = nowPath;
                }
            }, 200);  // 2개가 체크가 된 후 alert 창을 띄우기 위해서 200ms 뒤에 실행시킴.
        }
    });
</script>