<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- Sidebar -->
<ul th:id="sidebar";
    th:fragment="sidebar" style="
    background: -moz-linear-gradient(top, #E2E2E2 0%, #ECECEC 50%, #F6F6F6 100%);
    background: -webkit-linear-gradient(top, #E2E2E2 0%, #ECECEC 50%, #F6F6F6 100%);
    background: linear-gradient(to bottom, #E2E2E2 0%, #F6F6F6 100%);
    background: -moz-linear-gradient(top, #E2E2E2 0%, #ECECEC 50%, #F6F6F6 100%);
    background: -webkit-linear-gradient(top, #E2E2E2 0%, #ECECEC 50%, #F6F6F6 100%);
    background: linear-gradient(to bottom, #E2E2E2 0%, #ECECEC 50%, #F6F6F6 100%);
    border-radius: 5px;
    float: left;width: 14%;
    margin-left: 1%;
    padding-top: 0.5rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;">

    <!-- Sidebar - Brand -->
    <h6 style="text-align: center; color: #bebebe;">버전 내역</h6>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" style="margin-bottom: 1rem !important;">

    <!-- Side bar Version List -->
    <div style="padding-left: 1rem;">
        <li class="nav-item active" th:each="mock : ${mockList}" style="margin-bottom:1rem;">
            <div style="display: inline-block; margin-right: 0.5rem;">
                <div th:version-url = "${'/version/' + kind + '?name=' + kind}" th:text="${mock.getVersionDto().getFileDto().getName()}"></div>
            </div>
            <div style="display:inline-block">
                <input th:class = "version-checkbox" type = "checkbox" th:value = "${mock.versionDto.versionId}"/>
            </div>
        </li>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">


</ul>
</html>
<script>
    window.onload = function() {
        console.log("href : " + window.location.href);
        console.log("pathname : " + window.location.pathname);
    }

    let count = 0;
    let kind = "[[${kind}]]";
    let checkedVersion =[];
    let nowPath = window.location.href;
    if (nowPath.charAt(nowPath.length - 1) == '#') { // 끝이 # 이 아닐 때도 짤라서
        nowPath = nowPath.substring(0, nowPath.length - 1);
    }

    $('[version-url]').click(function() {
        var url = $(this).attr('version-url');
        console.log(url);
        var newWindow = window.open("about:blank");
        newWindow.location.href = url;
        location.href = nowPath;
    });

    $('.version-checkbox').change(function() {
        if ($(this).is(':checked')) {
            console.log("Checkbox is checked..");
            checkedVersion.push($(this).value);
            count++;
        } else {
            checkedVersion.pop();
            count--;
        }

        if(count == 2) {
            setTimeout(() => {
                if (confirm("비교하겠습니까? 휴먼")) {
                    var newWindow = window.open("about:blank");
                    var url = "";
                    if (kind === "folder") {
                        url = "/version/folder/diff?name=폴더";
                    } else {
                        url = "/version/file/diff?name=파일";
                    }
                    newWindow.location.href = url;
                    location.href = nowPath;
                } else {
                    location.href = nowPath;
                }
            }, 200);  // 2개가 체크가 된 후 alert 창을 띄우기 위해서 200ms 뒤에 실행시킴.
        }
    });
</script>