<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- Sidebar -->
<ul th:id="sidebar";
    th:fragment="sidebar" style="background: -moz-linear-gradient(top, #E2E2E2 0%, #F6F6F6 100%);
    background: -webkit-linear-gradient(top, #E2E2E2 0%, #F6F6F6 100%);
    background: linear-gradient(to bottom, #E2E2E2 0%, #F6F6F6 100%);
    background: -moz-linear-gradient(top, #E2E2E2 0%, #ECECEC 50%, #F6F6F6 100%);
    background: -webkit-linear-gradient(top, #E2E2E2 0%, #ECECEC 50%, #F6F6F6 100%);
    background: linear-gradient(to bottom, #E2E2E2 0%, #ECECEC 50%, #F6F6F6 100%);
    float: left;width: 14%;
    margin-left: 1%;">

    <!-- Sidebar - Brand -->
    <h6>버전 내역</h6>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">



    <!-- Nav Item - Tables -->
    <li class="nav-item active" th:each="mock : ${mockList}">
        <div style="display: inline-block">
            <a class="nav-link" href="tables.html">
                <span th:text="${mock.getVersionDto().getFileDto().getName()}"></span>
            </a>
        </div>
        <div style="display:inline-block">
            <input th:class = "version-checkbox" type = "checkbox" th:value = "${mock.versionDto.versionId}"/>
        </div>

    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">


</ul>
</html>
<script>

    let count =0;
    let kind = "[[${kind}]]";
    let checkedVersion =[];
    let nowPath = window.location.href;
    nowPath = nowPath.substring(0, nowPath.length - 1);

    $('.version-checkbox').change(function() {

        if ($(this).is(':checked')) {
            console.log("Checkbox is checked..");
            checkedVersion.push($(this).value);
            count ++;
        } else {
            checkedVersion.pop();
            count--;
        }
        console.log("count : " + count);

        if(count == 2) {
            console.log(" 2개 ~~~");

            setTimeout(() => {
                if (confirm("비교하겠습니까? 휴먼")) {
                    var newWindow = window.open("about:blank");
                    var url = "/version/folder/diff?name=폴더";
                    newWindow.location.href = url;
                    location.href = nowPath;
                } else {
                    location.href = nowPath;
                }
            }, 200);  // 2개가 체크가 된 후 alert 창을 띄우기 위해서 200ms 뒤에 실행시킴.

        }
    });

    if()

    // $.ajax({
    //     type: "GET",
    //     url: url,
    // })
    //     .done(function (result) {
    //         console.log(result);
    //         $("#sidebar").replaceWith(result);
    //     })
    //     .fail(function(jqXHR) {
    //         console.log(jqXHR);
    //     })
    //     .always(function() {
    //         console.log("요청, 응답 결과에 상관없이, 이건 항상 실행됩니다.");
    //     })

</script>