
body {
    /*margin-top: 2px;*/
}

tr {
    width : 100%;
    line-height: 1.2rem !important;
    word-break: break-all;
}

div.main-menu {
    border-bottom: 1px solid #ccc; padding: 10px 0px;
    background-color: #f8f8f8;
}

div.main-menu div {
	width: 1200px; margin: 0px auto;
}
div.main-menu h1 {
	margin: 0; font-size: 16pt;
	display: inline-block;
}

div.main-menu a {
    text-decoration: none;
}

div.container2 {
	width: 1200px; margin: 0px auto;
	background-color: white;
}

select { border: 1px solid #aaa; padding: 6px 15px; font-size: 11pt; }
input[type=text] { border: 1px solid #aaa; padding: 6px; font-size: 11pt; }
input[type=password] { border: 1px solid #aaa; padding: 6px; font-size: 11pt; }

textarea { border: 1px solid #aaa; padding: 6px; }

.btn2 {
    border: 1px solid #ddd;
    background: linear-gradient(#fff, #d0d0d0);
    text-decoration: none; color: black;
    display: inline-block;
}

.btn2 {
	font-size: 11pt; padding: 0.6em 2em; border-radius: 0.5em;
}

.btn2.small {
	padding: 0.4em 1em; border-radius: 0.3em;
}

.btn2:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    background: #ccc;
}

.btn2.blue {
    color: white; border: none; background: linear-gradient(#8cf, #05c);
}
.btn2.blue:active { background: #05c; }

.btn2.green {
    color: white; border: none; background: linear-gradient(#8e8, #080);
}
.btn2.green:active { background: #080; }

.btn2.red {
    color: white; border: none; background: linear-gradient(#faa, #a00);
}
.btn2.red:active { background: #800; }

.btn2.yellow {
    color: black; border: 1px solid #eec; background: linear-gradient(#ffc, #dd0);
}

.btn2.yellow:active { background: #dd0; }

.btn2.cyan {
    color: white; border: none; background: linear-gradient(#0ee, #099);
}

.btn2.cyan:active { background: #099; }

.right { float: right; }

ul.pagination {
    margin: 0; padding: 0;
}

ul.pagination li {
  font-size: 11pt; color: #08f;
  display: inline-block; border: 1px solid #ddd; border-right: none;
  padding: 0.5em 0.9em;
  text-align: center;
  cursor: pointer;
}

ul.pagination li:last-child { border: 1px solid #ddd; }

ul.pagination li.active { color: white; background-color: #6ac; }

div.footer {
    border-top:1px solid #eee; padding:30px; font-size:10pt; color:#888; width: 100%;
}

[directory-url]:hover, [file-url]:hover , [data]:hover , [content]:hover { /* 기존의 색깔이 변경되던 것을 text decoration 으로 변 */
    cursor : pointer;
    text-decoration : underline;
}

.directory-list [directory-url] { /* .directory-list 의 자식만 지정함으로써, 상단바에만 css 를 먹임 */
    padding : 8px !important;
    border-radius : 5px;
}

.directory-list [directory-url]:hover { /* Directory Url 에다가, 마우스를 올려놨을 때, 글자가 바뀌는 것이 아닌, background color 가 바뀌도록*/
    cursor : pointer;
    text-decoration : none;
    background-color: rgb(237, 235, 233) !important;
    transition: background-color 0.5s !important;
}

#time , #code , #diff_content1 , #diff_content2{
    display : none;
}

#version_date:hover {
    cursor : pointer;
    color : #800000;
    transition: color 0.5s;
}

#search-bar {
    display : flex;
}

#search-key {
    display : inline-block;
    margin : 0px 0px 0px 20px;
    width : 200px;
    height : 40px;
}

#search-key-submit {
    border : 1px solid grey;
    margin : 0px;
    background : #4e73df;
    width  : 50px;
    height : 40px;
    text-align : center;
    color : black;
}

#search-key-submit-content {
    margin-top : 10px;
    width : 20px;
    height : 20px;
    text-align : center;
}

#search-key-submit:hover {
    background : rgba(78, 115, 223, 0.4);
    cursor : pointer;
    transition : background 0.5s;
}

#content1, #content2 {
    display : inline-block;
    background : #1E1E1E;
    margin : 0px;
    width : 100%;
    height : 100%;
    overflow-y : auto;
    overflow-x : auto;
    white-space: nowrap; /* nowrap 으로 하면서, content 가 block 의 범위를 넘어가더라도 자동으로 줄바꿈 되지 않도록 하였음 */
    border-radius :10px;
    padding : 10px;
}

#content1-modifiedTime, #content2-modifiedTime {
    width : 49.5%
    background : #fff;
}

.file-content-wrapper {
    display : flex;
    width : 100%;
    /* height : 100%; */
    float : left;
    overflow-y : auto;
    overflow-x : auto;
}

#file-diff-content-parent {
    width : 100%;
    height : 100%;
}

#file-content {
    border-radius : 10px;
    padding : 10px;
}

#not-diff-content {
    width : 100%;
    height : 100%;
    overflow-y : auto;
    overflow-x : auto;
}

#content1-block, #content2-block {
    display : inline-block;
    margin-top : 24px;
    width : 49.5%;
    height : 100%;
}

.card-body {
    overflow : auto;
}

.file-content-title {
    display : inline-block;
}

[version-url]:hover {
    cursor : pointer;
    color : blue;
    transition : color 0.5s;
}

.directory-url-content{
    display : none;
}

.radius-5 {
    border-radius: 5px;
}

.img-file-type{
    display : inline-block;
    width : 20px;
    height : 20px;
}

.td-name{
    width: 40%;
}

.td-modifiedTime{
    width : 40%;
}

.td-size{
    width: 19%;
}

.my-modal {
    background-color : white;
    position : absolute;
    display : none;
    top : 4em;
    left : 15%;
    width : 65vw;
    height : 40vw;
    box-shadow : 0.15rem 1.75rem 0 rgba(58,59,69,.15) !important;
    align-content : center;
    justify-content : center;
    margin-bottom : 10px;
}

.chart-div {
    width : 100% !important;
    height : 100% !important;
}

