.table-values:hover{
    background-color: #d6e0f5 !important;
}
.cbox{
    opacity: 0.1;
}

tr:hover .cbox{
    opacity: 100;
}

tr:hover .more{
    opacity: 0.4;
}

input[type="checkbox"]:checked {
    opacity: 100 !important;
}

.cbox-cover{
    width: 5%;
}

.more{
    opacity: 0;
    float: right;
}

.button-wrapper{
    display: inline-block;
    float: right;
    background:none;
    border: none;
}
