<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: header">
</head>
<body>
<nav th:replace="fragments/filetopbar.html :: filetopbar"></nav>
<div style = "display : flex; height : 100vh;">
    <div style = "width : 80vw; overflow-y : scroll; overflow-x : auto;">
        <h2 th:text = "${' file : ' + title}" style = "color : #fbfbfe; margin-bottom : 20px;"></h2>
<!--        <pre><code id = "file_content" th:class = "${extension}"></code></pre>-->
        <pre id = "file_content"></pre>
    </div>
    <div style = "overflow-y : scroll; overflow-x : auto; width : 20vw; text-align : center; border-left : 1px solid white;
                    box-shadow: rgba(255, 255, 255, 0.35) 5px 5px 5px; color : #fbfbfe">
        <h3>버전 기록</h3>
        <div th:each = "version : ${versionList}" style = "padding : 40px; border-bottom : 1px solid white; border-top : 1px solid white;">
            <span th:if = "${index == versionStat.index}">-></span>
            <span th:if = "${!(index == versionStat.index)}">&nbsp;&nbsp;</span>
            <span th:content = "@{/version(path=${path}, index = ${versionStat.index})}" th:text = "${version.time}"/>
        </div>
        <div id = "chart_div"></div>
    </div>
</div>
<div id = "time" th:text = "${time}"/>
<div id = "code" th:text = "${code}"/>
<div id = "diff_content1" th:text = "${content1}"/>
<div id = "diff_content2" th:text = "${content2}"/>
</body>
<script>

    const one = $('#diff_content1').text();
    const other = $('#diff_content2').text();

    console.log(one);
    console.log(other);

    color = ''


    // const diff = Diff.diffChars(one, other), //공백 차이 인식됨
    // const diff = Diff.diffWords(one, other), //공백 차이는 무시 , 변경된 문자만 red로
    // const diff = Diff.diffWordsWithSpace(one, other) // 단어단위(공백기중)으로 비교 진행, 공백 차이 인식됨
    // const diff = Diff.diffSentences(one, other) // .  단위로 비교되며, 문장에 한 단어만 추가되도 아예 다른 문장으로 취  급됨

        const diff = Diff.diffLines(one,other), //문장에 한 단어만 추가되도 아예 다른 문장으로 취급됨
        content = document.getElementById('file_content'),
        fragment = document.createDocumentFragment(); //다른 노드를 담는 임시 컨테이너 역할을 하는 특수 목적의 노드이다.
                                                    //가상의 노드 객체이며 문서 탬플릿이라고 생각하면 된다.
                                                    //appendChild(),insertBefore()로 자손 객체를 가질 수 있다.

    var addLine = 0;
    var removeLine = 0;

    console.log(addLine);
    console.log(removeLine);

    diff.forEach((part) => {
        // green for additions, red for deletions
        // grey for common parts
        const color = part.added ? '#2EA04326' :
            part.removed ? '#F8514926' : '';

        console.log(color);

        if (color == '#2EA04326')
            console.log("addLine : " + addLine + " part.length : " +  part.value.length)
            addLine = addLine + part.value.length

        if (color == '#F8514926')
            console.log("removeLine : " + removeLine + " part.length : " +  part.value.length)
            removeLine = removeLine + part.value.length

        div = document.createElement('div');
        div.style.backgroundColor = color;
        div.style.color = "#FBFBFE"
        div.appendChild(document
            .createTextNode(part.value + "\n"));
        fragment.appendChild(div);
    });

    content.appendChild(fragment);
    console.log(addLine);
    console.log(removeLine);
</script>
