<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: header">
</head>


<body id="page-top">
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:replace="fragments/topbar.html :: topbar" style="height: 100%"></nav>

            <div class="container-fluid">
                <div>
                    <h1 class="h3 mb-2 text-gray-800" th:text= "${title + ' 변경 로그'}"></h1>
                </div>
<!--                not diff version-->
                <div th:if = "${!diff}" class="card shadow mb-4" style="float: left !important; width: 85% !important;">
                    <div class="card-body" style="overflow-y : scroll; overflow-x : auto;">
                        <h3 th:text = "${modified}"></h3>
                        <pre>
                            <code id = "file_content" th:class = "${extension}" th:text = "${content}"></code>
                        </pre>
                        <pre id = "file-content"></pre>
                    </div>
                </div>

<!--                diff version-->
                <div th:if = "${diff}" class="card shadow mb-4" style="float: left !important; width: 85% !important;">
                    <div id = "file-diff-content-parent" class="card-body">
                        <div id = "content1-block">
                            <h3 id = "content1-modified" th:text = "${firstModified}"></h3>
                            <div id = "content1"></div>
                        </div>
                        <div id = "content2-block">
                            <h3 id = "content2-modified" th:text = "${secondModified}"></h3>
                            <div id = "content2"></div>
                        </div>
                    </div>
                </div>

                <!-- 버전 기록 -->
<!--                <div style = "overflow-y : scroll; overflow-x : auto; width : 15%; text-align : center; border-left : 1px solid white;&ndash;&gt;-->
<!--                    box-shadow: rgba(255, 255, 255, 0.35) 5px 5px 5px; color : lightblue">-->
<!--                            <h3>버전 기록</h3>-->
<!--                            <div th:each = "version : ${versionList}" style = "padding : 40px; border-bottom : 1px solid white; border-top : 1px solid white;">-->
<!--                                <span th:if = "${index == versionStat.index}">-></span>-->
<!--                                <span th:if = "${!(index == versionStat.index)}">&nbsp;&nbsp;</span>-->
<!--                                <span th:content = "@{/files(path=${path}, index = ${versionStat.index})}" th:text = "${version.time}"/>-->
<!--                            </div>-->
<!--                            <div id = "chart_div"></div>-->
<!--                </div>  -->

<!--                <div id = "time" th:text = "${time}"/>-->
<!--                <div id = "code" th:text = "${code}"/>-->
            </div>
        </div>
    </div>
</div>
<!--<footer th:replace="fragments/footer.html :: footer"></footer>-->
</div>
</body>
<footer th:replace="fragments/footer.html :: footer"></footer>
</html>

<script>
    window.onload = function() { // 넘겨져온 Content 파싱
        var content1String = "[[${content1}]]";
        var content2String = "[[${content2}]]";

        var content1Split = content1String.substring(1, content1String.length - 1).split(',');
        var content2Split = content2String.substring(1, content2String.length - 1).split(','); // content1, 2 얻음

        var content1 = document.getElementById("content1");
        var content2 = document.getElementById("content2");

        var add = '#2EA04326';
        var remove = '#F8514926';

        if ([[${diff}]]) { // diff 인 경우에만 진행
            for (var i = 0; i < content1Split.length; i += 2) { // Content 가 애초에 개행문자 단위로 뜯어져서 온다는 가정하에
                var flag = Number(content1Split[i]); // number type 으로 변환
                var color = '';

                if (flag == 2) { // 생성 된 경우
                    color = add;
                } else if (flag == 3) { // 삭제 된 경우
                    color = remove;
                }

                var div = document.createElement('div');
                div.style.backgroundColor = color;
                div.innerHTML = content1Split[i + 1];
                content1.appendChild(div);
            }

            for (var i = 0; i < content2Split.length; i += 2) { // diff 시작
                var flag = Number(content2Split[i]); // number type 으로 변환
                var color = '';

                if (flag == 2) { // 생성 된 경우
                    color = add;
                } else if (flag == 3) { // 삭제 된 경우
                    color = remove;
                }

                var div = document.createElement('div');
                div.style.backgroundColor = color;
                div.innerHTML = content2Split[i + 1];
                content2.appendChild(div);
            }
        }
    }
</script>


