<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: header">
</head>

<body id="page-top">
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:replace="fragments/topbar.html :: topbar"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                    <!-- DataTales -->
                <div class="card shadow mb-4" style="float: left; width: 85%">
                    <div class="card-header py-3">
                        <i class = "fas fa-user"></i>
                        <div style = "display : inline-block;" class = "directory-list" th:each = "directory : ${directoryList}">
                            <span class = "directory-list" th:directory-url = "${'/directories?path=' + directory.path + '&sortBy=' + sortBy + '&direction=' + direction}" th:text="${directory.nowDirectory}"></span>
                            <i class = "fas fa-chevron-right" th:if = "${!directoryStat.last}"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <form id = "main-form" th:action="@{/download/checked(nowPath = ${nowPath})}" method="get">
                                    <input id = "now-path" type ="hidden" th:name = "nowPath" th:value = "${nowPath}"/>
                                    <tr>
                                        <div id = "search-bar">
                                            <a id = "download-button" style = "display : flex;" href = "#" onclick = "return downloads()">
                                                <img class="skhu-img-format" src = "/static/images/d32.png"/>
                                                <span>다운로드</span>
                                            </a>
                                            <input id = "search-key" class="radius-5" type = "text" placeholder = "입력하시오." th:name = "${key}" th:value = "${key}"/>
                                            <span id = "search-key-submit" class="radius-5">
                                                <img id = "search-key-submit-content" src = "/static/images/search_icon.png"/>
                                            </span>
                                        </div>
                                    </tr>
                                    <thead>
                                    <tr>
                                        <td th:class="cbox-cover">
                                            <input type="checkbox" id="selectAll">
                                            <label for = "selectAll">&nbsp</label>
                                        </td>
                                        <th>
                                            이름
                                            <img class = "sort-select skhu-img-format" th:if = "${sortBy == 'name' && direction == 'desc'}" th:sort-by = "name" th:direction="desc" src = "/static/images/down.png"/>
                                            <img class = "skhu-img-format"th:if = "${!(sortBy == 'name' && direction == 'desc')}" th:sort-by = "name" th:direction="desc" src = "/static/images/down.png"/>
                                            <img class = "sort-select skhu-img-format" th:if = "${sortBy == 'name' && direction == 'asc'}" th:sort-by = "name" th:direction="asc"  src = "/static/images/up.png"/>
                                            <img class = "skhu-img-format" th:if = "${!(sortBy == 'name' && direction == 'asc')}" th:sort-by = "name" th:direction="asc"  src = "/static/images/up.png"/>

                                        </th>
                                        <th>
                                            수정일
                                            <img class = "sort-select skhu-img-format" th:if = "${sortBy == 'modifiedTime' && direction == 'desc'}" th:sort-by = "modifiedTime" th:direction="desc" src = "/static/images/down.png"/>
                                            <img class = "skhu-img-format" th:if = "${!(sortBy == 'modifiedTime' && direction == 'desc')}" th:sort-by = "modifiedTime" th:direction="desc" src = "/static/images/down.png"/>
                                            <img class = "sort-select skhu-img-format" th:if = "${sortBy == 'modifiedTime' && direction == 'asc'}" th:sort-by = "modifiedTime" th:direction="asc" src = "/static/images/up.png"/>
                                            <img class = "skhu-img-format" th:if = "${!(sortBy == 'modifiedTime' && direction == 'asc')}" th:sort-by = "modifiedTime" th:direction="asc" src = "/static/images/up.png"/>
                                        </th>
                                        <th>
                                            크기
                                            <img class = "sort-select skhu-img-format" th:if = "${sortBy == 'size' && direction == 'desc'}" th:sort-by = "size" th:direction="desc" src = "/static/images/down.png"/>
                                            <img class = "skhu-img-format" th:if = "${!(sortBy == 'size' && direction == 'desc')}" th:sort-by = "size" th:direction="desc" src = "/static/images/down.png"/>
                                            <img class = "sort-select skhu-img-format" th:if = "${sortBy == 'size' && direction == 'asc'}" th:sort-by = "size" th:direction="asc" src = "/static/images/up.png"/>
                                            <img class = "skhu-img-format" th:if = "${!(sortBy == 'size' && direction == 'asc')}" th:sort-by = "size" th:direction="asc" src = "/static/images/up.png"/>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:class="table-values" th:each="file, index: ${fileList}">
                                            <td th:class = "cbox-cover">
                                                <input th:id = "${'cbox-file' + index.index}" th:name="checkedFiles" th:type="checkbox" th:value="${file.path}"/>
                                                <label th:for = "${'cbox-file' + index.index}">&nbsp</label>
                                            </td>
                                            <td class = "td-name">
                                                <img th:class="img-file-type" th:src = "${file.imageUrl}"/>
                                                <span th:if = "${file.kind == '폴더'}" th:class="fileName" th:text="${file.name}" th:directory-url = "${'/directories?path=' + file.path + '&sortBy=' + sortBy + '&direction=' + direction}"></span>
                                                <span th:if = "${file.kind == '파일'}" th:class="fileName" th:text="${file.name}" th:file-url = "${'/files?path=' + file.path}"></span>
                                                <button  th:class="button-wrapper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img th:class="more" src="/static/images/mini.png">
                                                </button>
                                                <div class="dropdown-menu">
                                                    <input th:type="hidden" th:value="${file.kind}"/>
                                                    <a class="dropdown-item" href="#">버전 정보</a>
                                                </div>
                                            </td>
                                            <td class = "td-modifiedTime" th:text="${file.modifiedTime}"></td>
                                            <td class = "td-size" th:text="${file.size}"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot/>
                                </form>
                            </table>
                            <div class="page-number-wrapper">
                                <div th:id = "page-number-block">
                                    <img class = "skip-button skhu-img-format" onclick="skips(-10)" src = "/static/images/double-left.png"/>
                                    <span th:class = "page-number-iterator" th:each="num : ${#numbers.sequence(startNumber, endNumber)}">
                                          <!-- 현재 페이지가 아닌 span tag -->
                                        <span th:if = "${!(num == nowPage)}" th:class = "page-number" th:page-number = "${num}" th:text="${num}"></span>
                                        <!-- 현재 페이지 span tag -->
                                        <span id = "now-page" th:if = "${num == nowPage}"th:class = "page-number" th:page-number = "${num}" th:text="${num}"></span>
                                    </span >
                                    <img class = "skip-button skhu-img-format" onclick="skips(10)" src = "/static/images/double-right.png"/>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 사이드 바-->
                <div id="sidebarWrapper" style="display:none;">
                    <div id = "sidebar"></div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
</div>
<script th:inline = "javascript">
    var tes = [[${nowPath}]];

    //전체 선택 기능 함수
    $("#selectAll").click(function (){
        $("input[name=checkedFiles]").each(function (){
            if($("#selectAll").prop('checked')){
                if(!$(this).prop('disabled')) $(this).prop('checked',true);
            }else {
                $(this).prop('checked',false);
            }
        })
    })

    var sWrapper = document.getElementById("sidebarWrapper");
    $(".dropdown-menu").click(function () {
        var kind = $(this).children()[0].value;

        const url = window.location.protocol + '//' + window.location.host + "/version/test/1?kind=" + kind;
        console.log("드롭다운 눌림~~" + url) ;

        $.ajax({
            type: "GET",
            url: url,
        })
            .done(function (result) { // ajax 를 통해서, 전체 교환
                $("#sidebar").replaceWith(result);
            })
            .fail(function(jqXHR) {
                console.log(jqXHR);
            })
            .always(function() {
                console.log("요청, 응답 결과에 상관없이, 이건 항상 실행됩니다.");
            })

        sWrapper.style.display = 'block';
        console.log("!!!    "+sWrapper.style.display);
        const parents = $(this).parentNode;
        console.log("~~~ " + parents[0][0]);
    })

    function downloads() {
        document.getElementById('main-form').submit(); // submit 버튼역할을 해줄 것임
    }

    $("[page-number]").click(function () { // Pagination 을 진행해야 하기 떄문에, 숫자를 받아야 한다.
        var number = $(this).attr("page-number"); // page number 를 attribute 를 통해서 가져오는 모습
        var path = tes
        var sortBy = [[${sortBy}]]
        var direction = [[${direction}]]

        const url = window.location.protocol + '//' + window.location.host + "/directories?path=" + path + "&pageNumber=" + number + "&sortBy=" + sortBy + "&direction=" + direction;; // 이런식으로 할 수 있을 듯
        location.href = url;
    })

    $("[sort-by]").click(function () { // Pagination 을 진행해야 하기 떄문에, 숫자를 받아야 한다.
        var sortBy = $(this).attr("sort-by"); // page number 를 attribute 를 통해서 가져오는 모습
        var direction = $(this).attr("direction");
        var nowPage = [[${nowPage}]];
        var path = tes

        if (sortBy === [[${sortBy}]] && direction === [[${direction}]]) { // 이전에 선택되어 있던 것이 현재 선택한것과 같으면? 그러면 해제를 해준다.
            sortBy = "";
            direction = "";
        }

        const url = window.location.protocol + '//' + window.location.host + "/directories?path=" + path + "&pageNumber=" + nowPage + "&sortBy=" + sortBy + "&direction=" + direction; // 이런식으로 할 수 있을 듯
        location.href = url;
    })

    function skips(val) {
        var jump = val;
        var number = [[${nowPage}]]; // page number 를 attribute 를 통해서 가져오는 모습
        var sortBy = [[${sortBy}]]
        var direction = [[${direction}]]
        var path = tes

        const url = window.location.protocol + '//' + window.location.host + "/directories?path=" + path + "&pageNumber=" + number + "&sortBy=" + sortBy + "&direction=" + direction + "&jump=" + jump; // 이런식으로 할 수 있을 듯
        location.href = url;
    }
</script>
</body>
</html>

