<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: header">
</head>

<body id="page-top">
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:replace="fragments/topbar.html :: topbar"></nav>
<!--            position: absolute;left: -30px-->
            <div id="sidebarWrapper" style="display:none;"><ul th:replace="fragments/sidebar.html :: sidebar" style="display: inline-block; float: left; width: 15% !important;"></ul></div>

            <!-- Begin Page Content -->
            <div class="container-fluid" style="padding-top: 1.5rem">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">강의 목록</h1>
                <p class="mb-4">강의 목록 페이지, 후에 해당 열 클릭하여 화면 이동 구현 예정  <a target="_blank"
                                                                        href="https://da    tatables.net">official DataTables documentation</a>.</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div style = "display : inline-block;" class = "directory-list" th:each = "directory : ${directoryList}">
                            <span th:directory-url = "${'/directories?path=' + directory.path}" th:text="${directory.nowDirectory}"></span>
                            <span th:if = "${!directoryStat.last}"> >> </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <form th:action="@{/download/checked(nowPath = ${nowPath})}" method="get">
                                    <input id = "now-path" type ="hidden" th:name = "nowPath" th:value = "${nowPath}"/>
                                    <tr>
                                        <div id = "search-bar">
                                        <input type = "submit" value = "다운로드"/>
                                        <input id = "search-key" type = "text" placeholder = "입력하시오." th:name = "${key}" th:value = "${key}"/>
                                        <span id = "search-key-submit">검색</span>
                                        </div>
                                    </tr>
                                    <thead>
                                    <tr>
                                        <th class="cbox-cover"> <input type="checkbox" id="selectAll"></th>
                                        <th>이름</th>
                                        <th>수정일</th>
                                        <th>크기</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:class="table-values" th:each="file : ${folderList}">
                                        <td>
                                            <input th:class="cbox" th:name="checkedFiles" th:type="checkbox" th:value="${file.path}"/>
                                        </td>
                                        <td>
                                            <img th:src = "${file.imageUrl}" style = "display : inline-block;" width = "20px" height = "20px"/>
                                            <span th:class="fileName" th:text="${file.name}" th:directory-url = "${'/directories?path=' + file.path}"></span>
                                            <button  th:class="button-wrapper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img th:class="more" src="/static/images/mini.png">
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">버전 정보</a>
                                            </div>
                                        </td>
                                        <td th:text="${file.modifiedTime}"></td>
                                        <td th:text="${file.size}"></td>
                                    </tr>

                                    <tr th:class="table-values" th:each="file : ${fileList}">
                                        <td>
                                            <input th:class="cbox" th:name="checkedFiles" th:type="checkbox" th:value="${file.path}"/>
                                        </td>
                                        <td>
                                            <img th:src = "${file.imageUrl}" style = "display : inline-block;" width = "20px" height = "20px"/>
                                            <span th:text="${file.name}" th:file-url = "${'/files?path=' + file.path}"></span>
                                            <button  th:class="button-wrapper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img th:class="more" src="/static/images/mini.png">
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">버전 정보</a>
                                            </div>
                                        </td>
                                        <td th:text="${file.modifiedTime}"></td>
                                        <td th:text="${file.size}"></td>
                                    </tr>
                                    </tbody>
                                    <tfoot/>
                                </form>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
</div>
</body>
</html>

<script>
    var tes = "[[${nowPath}]]";
    console.log(tes);

    //전체 선택 기능 함수
    $("#selectAll").click(function (){
        $("input[name=checkedFiles]").each(function (){
            if($("#selectAll").prop('checked')){
                if(!$(this).prop('disabled')) $(this).prop('checked',true);
            }else {
                $(this).prop('checked',false);
            }
        })
    })

    var sWrapper = document.getElementById("sidebarWrapper");
    $(".dropdown-item").click(function () {
        console.log("드롭다운 눌림~~");
        sWrapper.style.display = 'block';
        console.log("!!!    "+sWrapper.style.display);
    })
</script>
