<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: header">
</head>

<body id="page-top">
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:replace="fragments/topbar.html :: topbar"></nav>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">강의 목록</h1>
                <p class="mb-4">강의 목록 페이지, 후에 해당 열 클릭하여 화면 이동 구현 예정  <a target="_blank"
                                                                        href="https://datatables.net">official DataTables documentation</a>.</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div style = "display : inline-block;" class = "directory-list" th:each = "directory : ${directoryList}">
                            <span th:if = "${directoryStat.last}" th:directory-url = "${'/directories?path=' + directory.path}" th:text="${directory.nowDirectory}"></span>
                            <span th:if = "${!directoryStat.last}" th:directory-url = "${'/directories?path=' + directory.path}" th:text="${directory.nowDirectory + ' >> '}"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <form th:action="@{/download/checked(nowPath = ${nowPath})}" method="get">
                                    <input type ="hidden" th:name = "nowPath" th:value = "${nowPath}"/>
                                    <tr> <input type="submit" value="다운로드"/></tr>
                                    <thead>
                                    <tr>
                                        <th class="cbox-cover"> <input type="checkbox" id="selectAll"></th>
                                        <th>이름</th>
                                        <th>수정일</th>
                                        <th>크기</th>
                                        <th>종류</th>
                                    </tr>
                                    </thead>

<!--                                    <tr>-->
<!--                                        <th>다운로드 하기 </th>-->
<!--                                        <th>Name</th>-->
<!--                                        <th>Position</th>-->
<!--                                        <th>Office</th>-->
<!--                                        <th>Age</th>-->
<!--                                    </tr>-->
<!--                                    </tfoot>-->
                                    <tbody>
                                    <tr th:class="table-values" th:each="file : ${fileList}">
                                        <td><input th:class="cbox" th:name="checkedFiles" th:type="checkbox" th:value="${file.path}"/></td>
                                        <td th:if = "${file.kind == '폴더'}" th:directory-url = "${'/directories?path=' + file.path}"><span th:text="${file.name}"/><img th:class="more" src="/static/images/mini.png"></td>
                                        <td th:if = "${file.kind != '폴더'}" th:file-url = "${'/files?path=' + file.path}"><span th:text="${file.name}"/><img th:class="more" src="/static/images/mini.png"></td>
                                        <td th:text="${file.modifiedTime}"></td>
                                        <td th:text="${file.size}"></td>
                                        <td th:text="${file.kind}" ></td>

                                    </tr>
                                    </tbody>
                                    <tfoot/>
                                </form>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
</div>
</body>
</html>

<script>
    var tes = "[[${nowPath}]]";
    console.log(tes);

    $("#selectAll").click(function (){
        $("input[name=checkedFiles]").each(function (){
            if($("#selectAll").prop('checked')){
                if(!$(this).prop('disabled')) $(this).prop('checked',true);
            }else {
                $(this).prop('checked',false);
            }
        })
    })
</script>
