<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: header">
</head>

<body id="page-top">
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content" style="padding-bottom: 2rem">
            <nav th:replace="fragments/topbar.html :: topbar"></nav>
            <!-- Begin Page Content -->
            <div class="container-fluid" style="padding-top: 1.5rem">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800"></h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4" style="float: left; width: 85%">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <form id = "main-form" th:action="@{/download/checked(nowPath = ${nowPath})}" method="get">
                                    <input id = "now-path" type ="hidden" th:name = "nowPath" th:value = "${nowPath}"/>
                                    <tr>
                                        <div id = "search-bar">
                                            <a id = "download-button" style = "display : flex;" href = "#" onclick = "return downloads()">
                                                <img style = "width : 20px; height : 20px;" src = "/static/images/d32.png"/>
                                                <span>다운로드</span>
                                            </a>
                                        </div>
                                    </tr>
                                    <thead>
                                    <tr>
                                        <td th:class="cbox-cover">
                                            <input type="checkbox" id="selectAll">
                                            <label for = "selectAll">&nbsp</label>
                                        </td>
                                        <th>
                                            이름
                                            <img class = "sort-select skhu-img-format" th:if = "${sortBy == 'name' && direction == 'desc'}" th:sort-by = "name" th:direction="desc" src = "/static/images/down.png"/>
                                            <img class = "skhu-img-format"th:if = "${!(sortBy == 'name' && direction == 'desc')}" th:sort-by = "name" th:direction="desc" src = "/static/images/down.png"/>
                                            <img class = "sort-select skhu-img-format" th:if = "${sortBy == 'name' && direction == 'asc'}" th:sort-by = "name" th:direction="asc"  src = "/static/images/up.png"/>
                                            <img class = "skhu-img-format" th:if = "${!(sortBy == 'name' && direction == 'asc')}" th:sort-by = "name" th:direction="asc"  src = "/static/images/up.png"/>
                                        </th>
                                        <th>
                                            경로
                                            <img class = "sort-select skhu-img-format" th:if = "${sortBy == 'path' && direction == 'desc'}" th:sort-by = "name" th:direction="desc" src = "/static/images/down.png"/>
                                            <img class = "skhu-img-format"th:if = "${!(sortBy == 'path' && direction == 'desc')}" th:sort-by = "name" th:direction="desc" src = "/static/images/down.png"/>
                                            <img class = "sort-select skhu-img-format" th:if = "${sortBy == 'path' && direction == 'asc'}" th:sort-by = "name" th:direction="asc"  src = "/static/images/up.png"/>
                                            <img class = "skhu-img-format" th:if = "${!(sortBy == 'path' && direction == 'asc')}" th:sort-by = "name" th:direction="asc"  src = "/static/images/up.png"/>
                                        </th>
                                        <th>
                                            수정일
                                            <img class = "sort-select skhu-img-format" th:if = "${sortBy == 'modifiedTime' && direction == 'desc'}" th:sort-by = "modifiedTime" th:direction="desc" src = "/static/images/down.png"/>
                                            <img class = "skhu-img-format" th:if = "${!(sortBy == 'modifiedTime' && direction == 'desc')}" th:sort-by = "modifiedTime" th:direction="desc" src = "/static/images/down.png"/>
                                            <img class = "sort-select skhu-img-format" th:if = "${sortBy == 'modifiedTime' && direction == 'asc'}" th:sort-by = "modifiedTime" th:direction="asc" src = "/static/images/up.png"/>
                                            <img class = "skhu-img-format" th:if = "${!(sortBy == 'modifiedTime' && direction == 'asc')}" th:sort-by = "modifiedTime" th:direction="asc" src = "/static/images/up.png"/>
                                        </th>
                                        <th>
                                            크기
                                            <img class = "sort-select skhu-img-format" th:if = "${sortBy == 'size' && direction == 'desc'}" th:sort-by = "size" th:direction="desc" src = "/static/images/down.png"/>
                                            <img class = "skhu-img-format" th:if = "${!(sortBy == 'size' && direction == 'desc')}" th:sort-by = "size" th:direction="desc" src = "/static/images/down.png"/>
                                            <img class = "sort-select skhu-img-format" th:if = "${sortBy == 'size' && direction == 'asc'}" th:sort-by = "size" th:direction="asc" src = "/static/images/up.png"/>
                                            <img class = "skhu-img-format" th:if = "${!(sortBy == 'size' && direction == 'asc')}" th:sort-by = "size" th:direction="asc" src = "/static/images/up.png"/>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:class="table-values" th:each="file, index : ${fileList}">
                                        <td th:class = "cbox-cover">
                                            <input th:id = "${'cbox-file' + index.index}" th:name="checkedFiles" th:type="checkbox" th:value="${file.path}"/>
                                            <label th:for = "${'cbox-file' + index.index}">&nbsp</label>
                                        </td>
                                        <td>
                                            <img th:src = "${file.imageUrl}" style = "display : inline-block;" width = "20px" height = "20px"/>
                                            <span th:if = "${file.kind == '폴더'}" th:class="fileName" th:text="${file.name}" th:directory-url = "${'/directories?path=' + file.path}"></span>
                                            <span th:if = "${file.kind == '파일'}" th:class="fileName" th:text="${file.name}" th:file-url = "${'/files?path=' + file.path}"></span>
                                            <button  th:class="button-wrapper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img th:class="more" src="/static/images/mini.png">
                                            </button>
                                            <div class="dropdown-menu">
                                                <input th:type="hidden" th:value="${file.kind}"/>
                                                <a class="dropdown-item" href="#">버전 정보</a>
                                            </div>
                                        </td>
                                        <td th:text = "${file.path}"></td>
                                        <td th:text="${file.modifiedTime}"></td>
                                        <td th:text="${file.size}"></td>
                                    </tr>
                                    </tbody>
                                    <tfoot/>
                                </form>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="sidebarWrapper" style="display:none;">
                    <div id = "sidebar"></div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
</div>
<script  th:inline = "javascript">
    var sWrapper = document.getElementById("sidebarWrapper");
    $(".dropdown-menu").click(function () {
        var kind = $(this).children()[0].value;

        const url = window.location.protocol + '//' + window.location.host + "/version/test/1?kind=" + kind;

        $.ajax({
            type: "GET",
            url: url,
        })
            .done(function (result) { // ajax 를 통해서, 전체 교환
                $("#sidebar").replaceWith(result);
            })
            .fail(function(jqXHR) {
                console.log(jqXHR);
            })
            .always(function() {
                console.log("요청, 응답 결과에 상관없이, 이건 항상 실행됩니다.");
            })

        sWrapper.style.display = 'block';
    })

    function downloads() {
        document.getElementById('main-form').submit(); // submit 버튼역할을 해줄 것임
    }

    $("[sort-by]").click(function () { // Pagination 을 진행해야 하기 떄문에, 숫자를 받아야 한다.
        var sortBy = $(this).attr("sort-by"); // page number 를 attribute 를 통해서 가져오는 모습
        var direction = $(this).attr("direction");
        var fileDtoList = [[${fileList}]];
        var key = [[${key}]];
        var path = [[${path}]];

        var nowSortBy = [[${sortBy}]];
        var nowDirection = [[${direction}]];

        if (nowSortBy != null && sortBy === nowSortBy && direction === nowDirection) { // 이전에 선택되어 있던 것이 현재 선택한것과 같으면? 그러면 해제를 해준다.
            sortBy = "";
            direction = "";
        }

        var param = {};
        param.sortBy = sortBy;
        param.direction = direction;
        param.fileDtoList = fileDtoList;
        param.key = key;
        param.path = path;

        const url = window.location.protocol + '//' + window.location.host + "/all";

        //ajax 호출
        $.ajax({
            //요청 서비스 url 지정
            url : url,
            //메소드 타입 지정
            type : "POST",
            contentType: "application/json;charset=UTF-8",
            dataType : "json",
            //요청 시 서버로 전달할 데이터 지정
            data : param,
            //요청 성공 시 동작할 콜백 함수 지정
            success : function(data) {
                console.log(data);
                //p요소에 서버로부터 응답받은 데이터 표출
                // $("#resp").html(data);
            }
        });

        // const url = window.location.protocol + '//' + window.location.host + "/all?path=" + path + "&key=" + key + "&fileDtoList=" + fileDtoList + "&sortBy=" + sortBy + "&direction=" + direction; // 이런식으로 할 수 있을 듯
        // location.href = url;
    })

</script>
</body>
</html>

